@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --card-height: 300px;
  --card-width: 250px;
}

*
{
  box-sizing: border-box;
}

.card
{
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  perspective: -200px;
  margin: 25px;
  padding: 5%;
}

.cover-image
{
  aspect-ratio: 1 / 1;
  max-width: 100%;
  width: var(--card-width);
  max-height: auto;
  height: var(--card-height);
  object-fit: scale-down;
  transition: opacity 0.5s ease-in-out;
}

.wrapper
{
  transition: all 0.5s;
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  z-index: 1;
}

.card:hover .wrapper
{
  transform: perspective(750px) translateY(-5%) rotateX(3deg) translateZ(0);
}

.wrapper::before,
.wrapper::after
{
  content: "";
  opacity: 0;
  width: 100%;
  height: 75%;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before
{
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.wrapper::after
{
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.card:hover .wrapper::after
{
  opacity: 1;
}

.card:hover .wrapper::after
{
  height: 85%;
}

.details
{
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #fff;
  z-index: 2;
}

.card:hover .details
{
  display: block;
}

.title
{
  width: 100%;
  transition: transform 0.5s;
}

.card:hover .title
{
  transform: translate3d(0%, -50px, 200px);
}

.character
{
  opacity: 0;
  transition: all 0.5s;
}

.card:hover .character
{
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.black-overlay
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.card:hover .black-overlay
{
  opacity: 1;
}